@use './reset.scss';

.spinner {
	position: absolute;
	inset: 0;
}

.ant-upload-wrapper {
	width: 100%;
	margin-top: 20px;
}

body {
	color: $primary-color;
	font-family: 'Open Sans', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 600;
	font-size: 16px;
}

.authed-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	min-height: 100vh;
	background-color: $primary-bg;
}

.dashboard-top {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 54px;
}

.little-container {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.container-middle {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	@media (max-width: 480px) {
		padding: 0 16px;
	}
}

.container-big {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.lending-title {
	font-size: clamp(24px, 5vw, 60px);
	font-weight: 600;
	line-height: 130%;
}

.lending-descr {
	font-size: 18px;
	line-height: 140%;
	font-weight: 400;
	color: rgba(80, 80, 89, 1);
	@media (max-width: 480px) {
		font-size: 14px;
	}
}

.search-select {
	height: 100%;
	width: 100%;
	.ant-select-selector {
		border: 1px solid $light-blue-color !important;
		font-size: 14px !important;
		line-height: 130% !important;
		padding: 11px !important;
		border-radius: 10px;
		font-weight: 400 !important;
		color: $primary-color !important;
	}
}

.dashboard-select {
	.ant-select-selector {
		background-color: #fafafe !important;
		border: none !important;
		color: $primary-color !important;
	}

	.ant-select-selection-search-input,
	.ant-select-selection-placeholder {
		color: $primary-color !important;
	}
}
