*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

ol,
ul,
li {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

a,
button {
	cursor: pointer;
}

button {
	font-family: inherit;
}

.ant-list-item {
	border-block-end: none !important;
}

.phone {
	font-size: 20px;
}
