$primary-color: rgba(26, 26, 29, 1);
$secondary-color: rgba(55, 55, 55, 1);
$blue-color: rgba(2, 125, 255, 1);
$light-blue-color: rgba(204, 229, 255, 1);
$gray-color: rgba(136, 137, 138, 1);
$light-gray-color: rgba(187, 197, 207, 1);
$primary-bg: #f5f6fb;
$error-color: rgba(255, 101, 101, 1);
$placeholer-color: rgba(156, 155, 153, 1);
