.wrapper {
	background-color: rgba(245, 247, 251, 1);
	min-height: calc(100vh - 200px);
	position: relative;
	overflow: hidden;
	border-radius: 0 0 50px 50px;
	margin-bottom: 120px;

	@media (max-width: 1170px) {
		min-height: calc(100vh - 110px);
	}
	@media (max-width: 768px) {
		margin-bottom: 80px;
	}
	@media (max-width: 480px) {
		margin-bottom: 30px;
	}
	&::after {
		content: '';
		position: absolute;
		bottom: -100px;
		left: 50%;
		transform: translateX(-45%);
		width: 100%;
		height: 100%;
		max-width: 990px;
		max-height: 940px;
		background-image: url('../../../../app/assets/images/main-bg-desk.webp');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		pointer-events: none;

		@media (max-height: 1150px) {
			max-height: 800px;
		}

		@media (max-height: 1020px) {
			max-height: 700px;
			bottom: -150px;
		}

		@media (max-height: 950px) {
			background-image: url('../../../../app/assets/images/main-bg-mobile.webp');
			bottom: -240px;
			transform: translateX(-47%);
			width: 100vw;
			height: 100%;
		}

		@media (max-width: 768px) {
			background-image: url('../../../../app/assets/images/main-bg-mobile.webp');
			bottom: -240px;
			transform: translateX(-47%);
			width: 100vw;
			height: 100%;
		}
	}
}

.decor {
	position: relative;
	min-height: inherit;

	&::before,
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-size: contain;
	}

	&::before {
		left: 0;
		background-position: left;
		background-image: url('../../../../app/assets/images/left-decor.svg');
		@media (max-width: 1170px) {
			background-size: cover;
		}
	}

	&::after {
		right: 0;
		background-position: right;
		background-image: url('../../../../app/assets/images/right-decor.svg');
		@media (max-width: 1170px) {
			background-size: cover;
		}
	}
}

.inner {
	text-align: center;
	margin-top: 220px;
	.title {
		font-size: 60px;
		margin-bottom: 12px;
		font-weight: 600;
		letter-spacing: -1.5%;
		line-height: 120%;
		color: rgba(9, 11, 15, 1);

		@media (max-width: 1170px) {
			font-size: 40px;
		}
		@media (max-width: 480px) {
			font-size: 24px;
		}
	}

	@media (max-width: 1170px) {
		margin-top: 110px;
	}
}
