.title {
	font-size: 30px;
	font-weight: 600;
	line-height: 22px;
	margin-bottom: 60px;

	@media (max-width: 768px) {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 40px;
		text-align: center;
	}
}

.subtitle {
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: 700;

	@media (max-width: 768px) {
		font-size: 18px;
		margin-bottom: 12px;
	}
}

.descr {
	font-size: 16px;
	font-weight: 400;
	color: $light-gray-color;

	@media (max-width: 768px) {
		font-size: 14px;
		text-align: center;
	}
}

.info {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;

	img {
		@media (max-width: 768px) {
			width: 320px !important;
			height: 260px !important;
		}
	}

	@media (max-width: 768px) {
		margin-bottom: 30px;
	}
}

.inner {
	@media (max-width: 768px) {
		padding: 20px;
	}
}

.buy {
	@media (max-width: 768px) {
		padding: 0 20px;
	}
}

.paymentModal {
	@media (max-width: 768px) {
		max-width: 90%;
		margin: 20px;
	}
}
