.wrapper {
	background-color: white;
	padding: 16px;
	border-radius: 10px;
}

.faqTitle {
	font-size: 18px;
	line-height: 100%;
	margin-bottom: 16px;
}

.chevron {
	width: 24px;
	height: 24px;
	color: $secondary-color;
}

.question {
	color: $secondary-color;
	font-weight: 400;
	line-height: 100%;
	font-size: 14px;
}

.answer {
	font-weight: 400;
	line-height: 130%;
	font-size: 12px;
	padding-top: 30px;
	text-align: start;
	max-width: 90%;
}

.faqBox {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}

.faqItem {
	border-bottom: 1px solid rgba(245, 246, 251, 1);
	padding: 16px 0;
}

.faq {
	border: none;
	background: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.faqItem[data-headlessui-state='open'] {
	.chevron {
		transform: rotate(-180deg);
		transition: transform 0.3s ease;
	}
}

.chevron {
	color: rgba(179, 179, 179, 1);
	transition: transform 0.3s ease;
}
