.wrapper {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	user-select: none;
	border-bottom: 1px solid rgba(245, 246, 251, 1);
	&:last-child {
		border-bottom: none;
	}
}

.label {
	font-weight: 600;
	font-size: 14px;
	line-height: 130%;
}

.checkbox {
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: white;
	display: inline-block;
	margin-right: 8px;

	&.checked {
		background-color: #3b82f6;
		border-color: #3b82f6;
	}

	&.error {
		border-color: red;
	}
}
