.waFloat {
  width: 56px;
  height: 56px;
  bottom: 20px;
  right: 32px;
  border-radius: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  transition: all 0.3s;
  align-items: center;
  justify-content: center;
  background: #25D366;

  @media (max-width: 768px) {
    right: 16px;
    bottom: 16px;
  }

  img {
    position: relative;
  }

  &:before {
    position: absolute;
    content: '';
    background-color: #25D366;
    width: 70px;
    height: 70px;
    bottom: -7px;
    right: -7px;
    border-radius: 100%;
    animation: waFloatCircleFillAnim 2.3s infinite ease-in-out;
    transform-origin: center;
    opacity: 0.2;
  }

  &:hover {
    box-shadow: 0px 3px 16px #24af588a;
  }

  &:focus {
    box-shadow: 0px 0 0 3px #25d36645;
  }

  &:hover:before,
  &:focus:before {
    display: none;
  }
}

@keyframes waFloatCircleFillAnim {
  0% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
  }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
  }
}
