.page {
	min-height: 100vh;
	height: auto;
	position: relative;
	padding: 0;
	
	@media (max-width: 1600px) {
		padding: 0 10px;
	}	
	
	@media (max-width: 768px) {
		padding: 0 5px;
		background-size: cover;
	}
	
	@media (max-width: 480px) {
		padding: 0;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #ffffff;
		pointer-events: none;
		z-index: -1;
	}

	// Убеждаемся, что контент находится поверх фонового изображения
	> * {
		position: relative;
		z-index: 1;
	}
}
.sectionsWrapper{
	display: flex;
	flex-direction: column;
	gap: 20px;
}