.backdrop {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(4px);
	z-index: 40;
}

.wrapper {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	z-index: 50;
}

.panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 16px;
	padding: 16px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	max-width: 480px;
	width: max-content;
	transition: all 0.3s ease;
}

.title {
	font-size: 16px;
	font-weight: 600;
	line-height: 130%;
	margin-bottom: 8px;
}

.top {
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: space-between;
}

.close {
	padding: 0px;
	height: 60px;
	display: flex;
	align-items: start;
}
