.wrapper {
	display: flex;
	align-items: center;
	padding: 2px;
	border-radius: 10px;
	background-color: rgba(243, 244, 245, 1);

	.btn {
		font-size: 12px !important;
		color: rgba(136, 137, 138, 1) !important;
		padding: 8px 16px !important;
		text-transform: uppercase;
	}

	.btnActive {
		text-transform: uppercase;
		padding: 8px 16px;
		border-radius: 8px;
		font-size: 14px;
		background-color: white;
		color: $primary-color;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
	}
}
.hide {
	@media (max-width: 1370px) {
		display: none !important;
	}
}
