.wrapper {
	display: flex;
	align-items: center;
	padding: 4px;
	border-radius: 10px;
	border: 1px solid rgba(243, 244, 245, 1);

	.btn {
		font-size: 12px !important;
		color: #c2c2c2 !important;
		padding: 8px 16px !important;
		text-transform: uppercase;
	}

	.btnActive {
		text-transform: uppercase;
		padding: 8px 16px;
		border-radius: 8px;
		font-size: 14px;
		background-color: #e9e9e9;
		color: black !important;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
	}
}
