.label {
	display: block;
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: 600;
}

.error {
	color: $error-color;
	font-size: 14px;
	font-weight: 400;
	line-height: 130%;
	margin-top: 6px;
	margin-bottom: 18px;
}
