.userHeader {
	background-color: white;
	width: 100%;

	.inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 64px;
	}

	.left {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.city {
		color: rgba(156, 165, 172, 1);
		font-size: 14px;
		font-weight: 400;
		line-height: 130%;
		display: flex;
		gap: 2px;
		align-items: center;
		span {
			color: $primary-color;
			font-weight: 600;
		}
	}

	.right {
		display: flex;
		align-items: center;
		gap: 24px;
	}

	.user {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	.userInfo {
		display: flex;
		flex-direction: column;
		gap: 3px;
		align-items: end;
	}

	.userName {
		font-size: 14px;
		text-transform: capitalize;
	}

	.userPhone {
		color: rgba(179, 179, 179, 1);
		font-size: 14px;
		font-weight: 500;
		@media (max-width: 420px) {
			font-size: 12px !important;
		}
	}
}

.lendingHeader {
	position: fixed;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 94px;
	border-radius: 20px;
	padding: 10px 20px;
	background-color: white;
	top: 36px;
	left: 50%;
	transform: translateX(-50%);
	width: 1320px;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
	background-color: white;

	.user {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: 12px;
	}

	.userInfo {
		display: flex;
		flex-direction: column;
		gap: 3px;
		align-items: end;
	}

	.userName {
		font-size: 14px;
		text-transform: capitalize;
	}

	.userPhone {
		color: rgba(179, 179, 179, 1);
		font-size: 14px;
		font-weight: 500;
		@media (max-width: 420px) {
			font-size: 12px !important;
		}
	}

	@media (max-width: 1370px) {
		width: 90vw;
		height: 70px;
	}

	@media (max-width: 1170px) {
		top: 12px;
		padding: 10px 8px;
		height: 54px;
		border-radius: 10px;
	}

	.left {
		display: flex;
		align-items: center;
		gap: 40px;
		@media (max-width: 1370px) {
			flex-direction: row-reverse;
			gap: 8px;
		}
	}

	.authBtns {
		display: flex;
		gap: 20px;
		align-items: center;
		@media (max-width: 1370px) {
			gap: 8px;
		}
	}

	.appLink {
		min-width: 118px;
		padding: 16px 8px !important;
		@media (max-width: 1370px) {
			padding: 8px !important;
		}

		@media (max-width: 440px) {
			min-width: max-content;
		}
	}

	.nav {
		border-radius: 15px;
		color: rgba(156, 165, 172, 1);
		font-size: 16px;
		line-height: 140%;
		font-weight: 600;

		.link {
			color: rgba(156, 165, 172, 1);
			transition: color 0.2s ease;
			cursor: pointer;
			text-decoration: none;
			padding: 18px 26px;
			transition: all 0.2s ease;
			@media (max-width: 1370px) {
				padding: 18px 16px;
			}

			&:hover {
				color: black;
				border-radius: 12px;
				box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
				background-color: white;
			}
		}
	}

	.nav[data-headlessui-state='open'] {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		background-color: $blue-color;
		border-radius: 0px;
		.link {
			color: white;
			&:hover {
				color: black;
			}
		}
		.mobileMenuButton {
			position: absolute;
			right: 15px;
			top: 15px;
			padding: 6px 4px 8px 10px;
			border-radius: 10px;
			background-color: white;
			width: max-content;
			height: max-content;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.desktopMenu {
		display: flex;
		align-items: center;
		gap: 5px;
		background-color: rgba(244, 248, 251, 1);
		border-radius: 15px;
	}
}

.lendingHeader.open {
	top: 0;
	width: 100%;
}

.active {
	color: black !important;
	border-radius: 12px;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
	background-color: white;
}

.iconBurger {
	color: rgba(156, 165, 172, 1);
}

.logo {
	@media (max-width: 1370px) {
		display: none;
	}
}

.desktopMenu {
	display: flex;
	padding: 5px;
	@media (max-width: 1370px) {
		display: none !important;
	}
}

.mobileMenuButton {
	display: none;
	@media (max-width: 1370px) {
		height: 32px;
		display: block;
	}
}

.burger {
	background: none;
	border: none;
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.mobileMenuBox {
	padding: 120px 20px 70px 20px;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.mobileMenu {
	margin-top: 20px;
	gap: 14px;
	width: 100%;
	display: flex;
	flex-direction: column;
	@media (min-width: 1370px) {
		display: none;
	}
}

.modal {
	h2 {
		font-size: 16px;
		margin-bottom: 8px;
	}

	.descr {
		color: rgba(187, 197, 207, 1);
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 20px;
		max-width: 250px;
		text-align: center;
	}

	.btns {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
	}

	.logoutBtn {
		min-width: 136px;
	}
}
