.userHeader {
	background-color: white;
	width: 100%;

	.inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 64px;
	}

	.left {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.city {
		color: rgba(156, 165, 172, 1);
		font-size: 14px;
		font-weight: 400;
		line-height: 130%;
		display: flex;
		gap: 2px;
		align-items: center;
		span {
			color: $primary-color;
			font-weight: 600;
		}
	}

	.right {
		display: flex;
		align-items: center;
		gap: 24px;
	}

	.user {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	.userInfo {
		display: flex;
		flex-direction: column;
		gap: 3px;
		align-items: end;
	}

	.userName {
		font-size: 14px;
		text-transform: capitalize;
	}

	.userPhone {
		color: rgba(179, 179, 179, 1);
		font-size: 14px;
		font-weight: 500;
		@media (max-width: 420px) {
			font-size: 12px !important;
		}
	}

	.subLink {
		color: rgba(156, 165, 172, 1);
		font-size: 14px;
		padding: 8px 12px;
		border-color: $light-blue-color;
		font-weight: 600;
	}
}

.modalContent {
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
	text-align: center;
}

.lendingHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
	background-color: #30373f;
	height: 100px;

	@media (max-width: 768px) {
		height: 60px;
	}

	.left {
		display: flex;
		align-items: center;
		gap: 40px;
	}

	.authBtns {
		display: flex;
		gap: 20px;
		align-items: center;
		justify-content: end;
		@media (max-width: 1370px) {
			gap: 8px;
		}
	}

	.appLink {
		min-width: 118px;
		padding: 16px 8px !important;
		height: 40px;

		@media (max-width: 1370px) {
			padding: 8px !important;
		}

		@media (max-width: 440px) {
			min-width: max-content;
		}
	}
}

.active {
	color: black !important;
	border-radius: 12px;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
	background-color: white;
}

.iconBurger {
	color: rgba(156, 165, 172, 1);
}

.logo {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(29, 34, 40, 1);

	@media (max-width: 768px) {
		width: 80px;
		height: 60px;
		img {
			width: 30px;
			height: 40px;
		}
	}
}

.modal {
	h2 {
		font-size: 16px;
		margin-bottom: 8px;
	}

	.descr {
		color: rgba(187, 197, 207, 1);
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 20px;
		max-width: 250px;
		text-align: center;
	}

	.btns {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
	}

	.logoutBtn {
		min-width: 136px;
	}
}
