.onlyLogo {
	display: flex;
	justify-content: center;
	padding-top: 24px;
}

.userHeader {
	background-color: white;
	width: 100%;

	.inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 64px;
	}
}
