.wrapper {
	display: flex;
	align-items: start;
	justify-content: space-between;
	margin-bottom: 120px;

	@media (max-width: 768px) {
		flex-direction: column;
	}

	.left,
	.right {
		width: 100%;
		padding: 140px 120px 110px 120px;

		@media (max-width: 1337px) {
			padding: 30px 14px;
		}
	}

	.title {
		font-size: 54px;
		font-weight: 600;
		line-height: 150%;
		margin-bottom: 40px;

		@media (max-width: 1337px) {
			font-size: 36px;
			margin-bottom: 20px;
		}
	}

	.descr {
		font-size: 21px;
		font-weight: 400;
	}

	.leftList,
	.rightList {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: 20px;
		padding: 0 36px;

		@media (max-width: 1337px) {
			gap: 8px;
			padding: 0 0 0 36px;
		}
	}

	.item {
		font-size: 24px;
		font-weight: 400;
		line-height: 150%;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: -40px;
			top: 50%;
			width: 20px;
			height: 20px;
			background-image: url('../../../../app/assets/icons/li-element.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			transform: translateY(-50%);
		}
	}

	.right {
		background-color: $light-blue-color;
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.1);
		opacity: 0.7;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
