.wrapper {
	margin-bottom: 15px;
	border-radius: 10px;
	background-color: white;
	padding: 16px;
}

.title {
	margin-bottom: 10px;
	font-size: 18px;
	border-bottom: 1px solid $light-blue-color;
	padding-bottom: 10px;
}
