.icon {
	width: 16px;
	height: 16px;
	transform: rotate(-90deg);
	transition: all 0.2s ease;
}

.rotate {
	transform: rotate(0deg);
}

.accordion {
	width: 100%;
	border-bottom: 1px solid rgba(245, 246, 251, 1);
	&:has(.item[data-open]) {
		border-bottom: none;
	}

	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}

	.item {
		border: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 20px 16px;
		background: none;
		cursor: pointer;
		font-size: 14px;
		font-weight: 400;
		line-height: 130%;
		transition: background-color 0.3s ease, border-radius 0.3s ease;
	}

	.item[data-open] {
		background-color: $light-blue-color;
		border-radius: 10px;
	}
}

.panel {
	margin-bottom: 30px;
	margin-top: 16px;
	.titleBox {
		display: flex;
		align-items: center;
		gap: 16px;
		border-bottom: 1px solid $light-blue-color;
		padding-bottom: 16px;
		margin-bottom: 30px;
	}

	.titleWrapper {
		display: flex;
		flex-direction: column;
	}

	.titleIcon {
		padding: 13px;
		background-color: rgba(234, 242, 255, 1);
		border-radius: 10px;
		border: 1px solid $light-blue-color;
	}

	.panelTitle {
		font-size: 16px;
		font-weight: 600;
		line-height: 150%;
		margin-bottom: 2px;
	}

	.panelDescr {
		font-size: 14px;
		line-height: 130%;
		font-weight: 400;
		color: rgba(156, 165, 172, 1);
	}
}
