.wrapper {
	margin-bottom: 160px;

	@media (max-width: 920px) {
		margin-bottom: 60px;
	}

	.inner {
		background-image: url('../../../../app/assets/images/download-app-bg.webp');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 140px 0px;
		border-radius: 20px;

		@media (max-width: 920px) {
			flex-direction: column-reverse;
			padding: 40px 25px;
			height: 500px;
		}
	}

	.btns {
		@media (max-width: 920px) {
			flex-direction: column;
		}
	}

	.btn {
		width: 180px;
		height: 52px;
		object-fit: contain;
	}

	.left {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 16px;
		width: 100%;

		@media (max-width: 920px) {
		}
	}

	.right {
		position: relative;
		width: 100%;
		height: 100%;

		.img {
			position: absolute;
			right: 0;
			bottom: 50%;
			width: max-content;
			height: max-content;
			transform: translateY(45%);

			@media (max-width: 920px) {
				width: 320px;
				height: 330px;
				left: 50%;
				bottom: 60%;
				transform: translate(-50%, 35%);
			}
		}
	}

	.title {
		font-size: 20px;
		font-weight: 600;
		line-height: 150%;
		color: white;
		max-width: 300px;
		text-align: center;
	}

	.btns {
		display: flex;
		align-items: center;
		gap: 18px;
	}
}
