.wrapper {
	margin-bottom: 120px;
	scroll-margin-top: 150px;

	@media (max-width: 768px) {
		margin-bottom: 80px;
	}
	@media (max-width: 480px) {
		margin-bottom: 30px;
	}
}

.top {
	h2 {
		margin-bottom: 90px;

		@media (max-width: 768px) {
			margin-bottom: 60px;
		}
		@media (max-width: 480px) {
			margin-bottom: 18px;
		}
	}
}

.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 18px;

	@media (max-width: 1170px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 768px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.card {
	background-color: rgba(245, 247, 251, 1);
	border-radius: 20px;
	height: 100%;
}

.cardInner {
	padding: 30px;
	@media (max-width: 1170px) {
		padding: 16px;
	}
}

.cardContent {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 570px;
	img {
		width: max-content;
		height: 140px;

		@media (max-width: 1170px) {
			height: 100px;
		}
	}
}

.title {
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
}

.descr {
	font-size: 14px;
	font-weight: 400;
	line-height: 120%;
}
