// Profile Content
.profileContent {
    display: flex;
    gap: 32px;
    height: 100%;
}

// Profile Settings
.profileSettings {
    flex: 1;
}

// Modal
.modal {
    .modalBtns {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .modalDescr {
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
        color: #64748b;
        margin-bottom: 20px;
        text-align: center;
    }
}