@import '@/app/styles/vars';

.form {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.phone {
	margin-bottom: 14px;
}

.inputBox {
	margin-bottom: 16px;
}

.btn { 
	margin-top: 24px; 
	width: 100%;
}

.forgetPassword {
	display: block;
	text-align: right;
	margin-top: 14px;
	color: $blue-color;
	font-size: 14px;
	font-weight: 600;
	line-height: 130%;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

.label {
	display: block;
	margin-bottom: 6px;
	font-weight: 500;
	color: #374151;
}

.error {
	color: $error-color;
	font-size: 14px;
	font-weight: 400;
	line-height: 130%;
	margin-top: 6px;
}

.disclaimer {
	margin-top: 24px;
	color: #6b7280;
	font-size: 12px;
	text-align: center;
}
